extends layout
block content
    div
        h1= `param: ${ param }`
        h2= `queryParam: ${ queryParam }`
        h3= `sessionParam: ${ sessionParam }`
        h4= `cookieParam: ${ cookieParam }`
        h5= `headerParam: ${ headerParam }`